.card-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 130px;
}
.category button {
    padding: 10px;
    margin: 10px;
    background-color: rgb(34, 214, 214);
    border-radius: 10px;
    cursor: pointer;
}
.category button:hover {
    background-color: rgb(24, 127, 162);
    color: white;
    font-size: 14px;
    font-weight: 600;
}