.card-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 50px;
    box-sizing: border-box;
    color: black;
}
.addToCart button{
    cursor: pointer;
    width: 100px;
    background-color: #2a9bdc;
    padding: 6px;
    border-radius: 5px;
    color: white;
    border: none;
}
.card-item img {
    mix-blend-mode: multiply;
    z-index: -1;
}